{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "importOrder": ["^@core/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
